<div class="py-6 border-y border-slate-700">
  {{ form_start(form) }}
    {{form_row(form.content, {'attr': {'placeholder': 'Répondre à @' ~ quack.user.duckname}} ) }}

    {{form_row(form.parent, {'attr': {'value': quack.id}} ) }}

    <p class="text-right">
      <button class="py-2 px-4 font-bold rounded-full bg-sky-400">
        {{ button_label|default('Répondre') }}
      </button>
    </p>    
  {{ form_end(form) }}
</div>