<li class="py-6 border-b border-slate-700">

  <p class="font-bold">
    {{ quack.user.fullName }}
    <span class="text-sm text-slate-400">@{{quack.user.duckname}}</span>
  </p>

  <p class="text-slate-500">
    Le {{ quack.createdAt|date('d F Y à H\\hi') }}
  </p>

  <p class="my-4 text-base">
    {{quack.content}}
  </p> 

  {% if is_granted('ROLE_USER') %}
    <div class="flex gap-2 text-sm">
      <a class="text-sky-400" href="{{ path('app_quack_show', {'id': quack.id}) }}">Voir</a>

      {% if quack.user == app.user %}
          <a class="text-sky-400" href="{{ path('app_quack_edit', {'id': quack.id}) }}">Modifier</a>
          {{ include('quack/_delete_form.html.twig') }}
      {% endif %}
    </div>
  {% endif %}

</li>