<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>🦆</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="bg-slate-900 text-white">
        <header class="flex bg-slate-950 text-white px-6 py-4 mb-4">
            <div class="text-xl flex-auto">
                <a href="{{ path('app_home') }}">🦆 QuackNet</a>
            </div>
            <div>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    {{ app.user.duckname }} | 
                    <a href="{{ path('app_profile') }}">Profil</a> |
                    <a href="{{ path('app_logout') }}">Logout</a>
                {% else %}
                    <a href="{{ path('app_login') }}">Login</a> |
                    <a href="{{ path('app_register') }}">Register</a>
                {% endif %}
            </div>
        </header>
        <main class="max-w-prose mx-auto px-4">
            {% block body %}{% endblock %}
        </main>
    </body>
</html>
