{% extends 'base.html.twig' %}

{% block title %}QuackNet{% endblock %}

{% block body %}
  
  <h1 class="my-6 text-2xl font-bold">Derniers Quacks</h1>

  {% if is_granted('ROLE_USER') %}
    {{ include('quack/_form.html.twig') }}
  {% endif %}

  <ul>
    {% for quack in quacks %}
      <li class="py-6 border-b border-slate-700">
        
        <p class="font-bold">
          {{ quack.user.fullName }}
          <span class="text-sm text-slate-400">@{{quack.user.duckname}}</span>
        </p>
        
        <p class="text-slate-500">
          Le {{ quack.createdAt|date('d F Y à H\\hi') }}
        </p>

        <p class="my-4 text-base">
          {{quack.content}}
        </p> 

        {% if is_granted('ROLE_USER') and quack.user == app.user %}
          <div class="flex gap-2 text-sm">
            <a class="text-sky-400" href="{{ path('app_quack_show', {'id': quack.id}) }}">Voir le quack</a>
            <a class="text-sky-400" href="{{ path('app_quack_edit', {'id': quack.id}) }}">Modifier</a>
            {{ include('quack/_delete_form.html.twig') }}
          </div>
        {% endif %}

      </li>
    {% endfor %}
  </ul>
{% endblock %}